:root{
  --background: #f2f7f2;
  /* Cores bases */
  --cor-um: #0d1b2a;
  --cor-dois: #1b263b;
  --cor-tres: #415a77;
  --cor-quatro: #778da9;
  --cor-cinco: #e0e1dd;

  /* Botões */
  --botao-padrao: #2b2d42;
  --botao-hover: #8d99ae;
  --botao-active: #edf2f4;
  --botao-fonte-padrao: #ef233c;
  --botao-fonte-toggle: #d90429;
}

/* Responsividade a partirde widht: 430 enviar o historico para baixo */

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
}

main {
  margin: auto;
  margin-top: 2%;

  width: 350px;
  height: 500px;
  display: flex;
}

footer {
  padding-top: 4%;
  width: 100%;
  height: 72px;
  text-align: center;
}

footer a{
  color: var(--cor-um);
}

/* Telas */
.telas {
  display: flex;
  flex-direction: column-reverse;
  width: 348px;
  color: var(--cor-um);
}

.tela_calc {
  border: 1px solid var(--cor-um);
  border-radius: 5px;
  height: 50px;

  font-size: 40px;
  text-align: right;

  box-shadow: inset 3px 3px 25px -12px var(--cor-um);
  background-color: var(--cor-cinco);
}

.tela_simbolo {
  border: 1px solid var(--cor-um);
  border-radius: 5px;
  height: 50px;

  font-size: 40px;
  text-align: right;

  box-shadow: inset 3px 3px 25px -12px var(--cor-um);
  background-color: var(--cor-cinco);
}

.escondido {
  display: none;
}

/* Teclados e teclas */
.teclado-container {
  width: 350px;
  height: 400px;
  display: flex;
}

.teclado_principal {
  display: flex;
  width: 263px;
  flex-direction: column;
}

.tecla {
  font-size: 50px;
  width: 87px;
  height: 80px;
  border-radius: 5px;
}

/* Teclado Numérico */
.teclado_numerico {
  width: 263px;
}

.teclado_numerico button{
  background-color: var(--botao-padrao);
  color: var(--botao-fonte-padrao);
}

.teclado_numerico button:hover{
  background-color: var(--botao-hover);
  color: var(--botao-fonte-toggle);
}

.teclado_numerico button:active{
  background-color: var(--botao-active);
  color: var(--botao-fonte-toggle);
}
/* --------------------- */

/* Teclado Limpar */
.teclado_limpar {
  width: 263px;
  display: flex;
}

.teclado_limpar button{
  background-color: var(--cor-quatro);
  color: var(--botao-fonte-padrao);
}

.teclado_limpar button:active{
  background-color: var(--botao-active);
  color: var(--botao-fonte-toggle);
}
/* --------------------- */

/* Teclado Ação */
.teclado_acao {
  margin-left: -2px;
  height: 323px;
  width: 87px;
}

.teclado_acao button{
  background-color: var(--cor-quatro);
  color: var(--botao-fonte-padrao);
}

.teclado_acao button:active{
  background-color: var(--botao-active);
  color: var(--botao-fonte-toggle);
}
/* --------------------- */

/* Calculadora */
.calculadora {
  background-color: var(--cor-tres);
  padding: 2%;
  height: 515px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* --------------------- */

/* Historico */
/* --------------------- */


